:root {
  --primary-color: #da4b74;
  --secondary-color: #7169fc;
  --primary-font: #222222
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$primary-font: var(--primary-font);
