@import "colors";

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 16px;

  & .logo {
    width: max-content;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;

    & a{
      color: black;
      font-weight: 600;
      text-decoration: none;

      &:hover{
        color: $primary-color;
      }
    }
  }

  & .nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 15px;
      margin: 16px 0 0 ;

      & a {
        color: black;

        &:hover{
          color: #646464;
        }

        &.active{
          color: $primary-color;
        }
      }
  }

  & .user{

    & div{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;

      & p{
        margin: 0;
        font-size: .875rem;
      }

      & svg {
        & path{
          fill: $secondary-color;
        }
      }
    }
  }
}
